<form class="boxForm">

	<h2>Login</h2>

	<div class="inputUser">
		<input type="text" name="userName" required/>
		<label>User Name</label>
	</div>
	<div class="inputUser">
		<input type="password" name="userPassword" required/>
		<label>Password</label>
	</div>
	<input class="btnIn" type="submit" value="submit"/>
</form>
