<div class="container_histo_mobile">

    <div class="trait_mobile"></div>

    <pointhisto_mobile v-for="keys in key_date_agent"

        :key="keys.id"
        :props="keys"
    
    ></pointhisto_mobile>

</div>