<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') -%>
</head>
<body>
    


    <%- include('nav_bar') %>

    <%- include(page) %>

    <%- include('footer') -%>
    

</body>
</html>