<!DOCTYPE html>
<html lang="fr">
	<header>
	
		<%- include('header_p') -%>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<link rel="stylesheet" href="/stylesheets/socialNet.css">

	</header>

    <body>

    	<%- include('bandeau') -%>
    	

        <div class="container my-5">
            <div class="row">
                <div class="present">
                    <h4><b>L'institut de Peau-line</b></h4>
                    A deux pas de Paris et de Pantin au <b>Pré St Gervais</b>, vous propose des soins du visage <b>BIO</b>, soins du corps, massages Balinais, minceur LPG cellu M6 & palper rouler manuel, beauté des mains et des pieds, pose de vernis semi-permanent OPI, maquillage, épilation, cours d'auto-maquillage, extension de cils et boutique de cosmétiques BIO.
                </div>
            </div>
        </div>

        <%- include('socialNet') -%>

        <%- include('scriptFooter') -%>
    </body>
</html>
