<div class="row margeTop">
    <div class='col s2'></div>
    <div class="col s2 center-align">

        <img v-scroll="slide_down_intro" class="responsive-img" src="/images/illustration/phone_iso.svg"/>



    </div>
    <div class="col s3 center-align">


        <img class="responsive-img" src="/images/illustration/laptop.svg"/>


    </div>
    <div v-scroll="slide_up_intro" class="col s3 center-align">


        <img class="responsive-img" src="/images/illustration/tablette_iso.svg"/>


    </div>
    
</div>

