<div class="container">

    <div  class="row">
        <div class="col s12 center-align">
        <h3><b>Automate cellulaire</b></h3>
        </div>
    </div>


    <div class="row center-align">
        <div class="col s2">
        </div>

        <div class="col s1">  
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="1 | 1 | 1" style="background: #fff;"
            ></a>
        </div>

        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="1 | 1 | 0"   style="background: #fff;"
            ></a>
        </div>

        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="1 | 0 | 1"   style="background: #fff;"
            ></a>
        </div>

        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="1 | 0 | 0"   style="background: #fff;"
            ></a>
        </div>

        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="0 | 1 | 1"   style="background: #fff;"
            ></a>
        </div>

        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="0 | 1 | 0"   style="background: #fff;"
            ></a>
        </div>
        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="0 | 0 | 1"   style="background: #fff;"
            ></a>
        </div>
        <div class="col s1">
            <a  
                class="select btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="top" data-tooltip="0 | 0 | 0"   style="background: #fff;"
            ></a>
        </div>


        <div class="col s2 ">
        </div>
    </div>

    <div class="row center-align">
        <a id="button" @click="execute" class="waves-effect waves-light btn fond"><i class="material-icons left">create</i>Dessiner</a>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <canvas id="canvas2" class="canvas" ></canvas>
        </div>
    </div>

</div>
