
<nav class="reset">
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/agents"><i class="material-icons left">search</i>Employees search</a></li> 
        <li><a href="/wave"><i class="material-icons left">play_circle_outline</i>Synthesizer</a></li>
        <li><a href="/institut"><i class="material-icons left">web</i>SPA</a></li>              
        <li><a href="/life_game"><i class="material-icons left">border_outer</i>Cellular automaton</a></li>
    </ul>
</nav>
