
    <section-title :props="titre_component_Param.pres"></section-title>

    <div 
        class="row scroll_slide_before"
        v-scroll="trig"

    >
        <div class="col s12 m4 l4 offset-l4 offset-m4">
            <img src="images/me.png" class="circle responsive-img">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4 offset-l4 offset-m4 pres_frame">
            <p>
                I am 33, i living in Paris and i love the digital world.<br> 
                I make music since i'am a child, Bass guitar, Piano and MAO. <br>
                I practice sport regularly and whenever I get the chance, I travel with my family.
            </p>
        </div>
    </div>
