



<div class="row">

    <section-title :props="titre_component_Param.projects"></section-title>
    <projecttease v-for="keys in projecttease" :props="keys" :key="keys.id">

    </projecttease>
</div>