<div class="container my-5">
    <div class="row justify-content-center">




            <div class="col-xs-3 col-md-2 col-lg-1 col-sm-3 socialNClass ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    <i class="fab fa-facebook-f"></i>
            </div>




            <div class="col-xs-3 col-md-2 col-lg-1 col-sm-3 socialNClass ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    <i class="fab fa-twitter"></i>
            </div>


            <div class="col-xs-3 col-md-2 col-lg-1 col-sm-3 socialNClass ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    <i class="fab fa-youtube"></i>
            </div>


            <div class="col-xs-3 col-md-2 col-lg-1 col-sm-3 socialNClass ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    <i class="fab fa-instagram"></i>
            </div>

    </div>
</div>