<div class="row">
    <div class="col s12 center-align">
        <h4><b>Vous n'êtes pas autorisé à acceder à cette page</b></h4>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="<%=adress%>/index/accueil" class="btn-floating pulse red"><i class="material-icons">undo</i></a>
        <p><b>Revenir à l'accueil</b></p>
    </div>
</div>




